.label-text {
  font-size: 15px;
  color: white;
  font-weight: bold;
  }

.heading {
  position: absolute;
  color: #ffff80;
  top: 0;
  text-align: center; 
  display: inline-block; 
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 15vh; 
  padding-bottom: 20px; 
  z-index: 2;
}

.search-container {
  padding: 20px 0;
  position:absolute; 
  top:20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; 
  width: 100%; 
  height: 15vh; 
  padding-top: 20px;
  padding-bottom: 20px;
}

#search-bar {
  position: fixed;
  width: 40%;
  height: 30px;
  margin-bottom: 3px; 
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 3;
}

#suggestions {
  position: fixed;
  padding-top: 12px;
  top: 50px; 
  left: 0; 
  display: none;
  width: 50%;
  height: 100px;
  overflow: scroll;
  z-index: 2;
  margin-top: 0; 
}

#suggestions.show-suggestions {
  display: block;
}

select#suggestions {
  position: relative;
  width: 40%;
}

#map {
z-index: 1;
}

